@font-face {
	font-family: 'Padauk';
	src: local('Padauk Bold'), local('Padauk-Bold'),
		url('Padauk-Bold.woff2') format('woff2'),
		url('Padauk-Bold.woff') format('woff'),
		url('Padauk-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Padauk';
	src: local('Padauk'), local('Padauk-Regular'),
		url('Padauk-Regular.woff2') format('woff2'),
		url('Padauk-Regular.woff') format('woff'),
		url('Padauk-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
